.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin-bottom: 2rem;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin: 2.5rem 0;

  .title {
    display: inline-flex;
    align-items: center;

    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--gray-800);

    &:before {
      display: block;
      content: "";
      height: 1.5px;
      width: 18px;
      margin-right: 1rem;
      margin-left: 0.125rem;

      background: var(--accent);
    }
  }

  p {
    font-size: 1.125rem;

    .highlight {
      color: var(--gray-900);
      font-weight: 500;
    }
  }

  .codeBlock {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;

    padding: 0.8rem 1.5rem;
    border-radius: 99px;

    background-color: var(--accent);
    color: var(--gray-100);

    font-size: 0.875rem;
    font-weight: 700;

    transition: background-color 150ms ease;
  }
}
